{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
	      {{- printf " bg-%s" $bg -}}
				 ">
    <div class="container py-5">
      <div class="row">
	<div class="col text-center
		    {{- if eq $bg "dark" -}}
		    {{- printf " text-%s" "light" -}}
		    {{- else -}}
		    {{- printf " text-%s" "dark" -}}
		    {{- end -}}
		    ">
          <h5>Our presentation at the Cubesat Developers Workshop, 2020</h5>
	  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Jp7GuA_zjlA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
      </div>
    </div>
</section>
